
:root{
    --border :#1aa385;
}


.container-tous,
.mes-tables,
.container-tables-,
.container-tous .infos,
.container-tous .notes,
.container-tous .divers {
    display                : flex;
    justify-content        : space-between;
}

.container-tous{
    margin-top: 20px;
}

.container-tous,
.mes-tables {
    text-align              : center;
    min-width               : 50%;
    background-color        : #f1efec;
    padding                 : 10px;
    border-radius           : 5px;
    width: 70%;
}

.container-candidat,
.container-tous .divers {
    width        : 45%;
}

.container-tous .infos-personnelles {
    border               : 2px solid var(--border);
    padding              : 10px;
    border-radius        : 5px;

}

.container-tous .infos,
.container-tous .notes {
    position              : relative;
    padding-top           : 7px;
    padding-bottom        : 7px;
    border-bottom         : 2px dotted rgb(145, 144, 143);
}

.container-tous .notes:last-child,.container-tous .infos:last-child{
    border: none;
}

.dot {
    position        : absolute;
    right           : 50%;
}

.container-tous .container-notes {
    border               : 2px solid var(--border);
    padding              : 10px;
    border-radius        : 5px;

}

.container-tous .divers {
    flex-direction        : column;
}


.mes-tables  .preview button img ,.mes-tables  .next button img{
    transition        : all 500ms ease-in-out;
    transform         : scale(0.6);
}

.mes-tables .preview button,.mes-tables .next button {
    display                 : flex;
    justify-content         : center;
    width                   : 50px;
    height                  : 50px;
    background-color        : rgb(175, 142, 137);
    border-radius           : 50%;
    margin-bottom           : 8px;
    border: 0;
    outline: none;
}

.mes-tables .preview button:hover ,.mes-tables .next button:hover{
    background-color        : #7a3627;
    transition              : all 100ms ease-in-out;
    cursor: pointer;
}

.mes-tables .next button.dis,.mes-tables .preview button.dis{
    background-color: rgb(184, 184, 184);
}

.mes-tables .next button.dis:hover,.mes-tables .preview button.dis:hover{
    background-color: rgb(184, 184, 184);

}


.dossier-tables {
    border-collapse        : collapse !important;
    margin                 : auto;
    width                  : 100%;

}

/* .conatainer-table1  table thead th{
    padding-left: 15px;
  } */

.conatainer-table1 table thead {
    background-color        : rgb(156, 156, 156);
}


.dossier-tables table tbody tr {
    text-align        : start;
}

#dowload-bulletin{
    padding: 7px;
    background-color: #1aa385;
    border-radius: 10px;
    color: white;
    font-size: 10px;
}

#dowload-bulletin:hover{
    background-color: #19b895;
}

.dossier-tables tbody tr td,
.dossier-tables thead th {
    text-align        : start;
    padding           : 10px;
}

tr:nth-child(odd) {
    background-color        : #dadadab9;
}

tr:nth-child(even) {
    background-color        : #8a7b7277;
}

.conatainer-table1,
.conatainer-table1 {
    display        : none
}

.conatainer-table1.active,
.conatainer-table1.active {
    display        : block
}

.mes-tables{
align-items: center;
}

.conatainer-table1{
   margin: 10px; 
}
.mes-tables{
margin-top: 40px;
margin-bottom:20px;
}